extends layout

block content
  h1 Add a new thread
  form(method='POST')
    .form-group
      label(for='subject') Subject
      input(type='text' placeholder='Subject' name='subject').form-control
    .form-group
      label(for='message') Message
      textarea(placeholder='Message' name='message' rows='6').form-control
    
    button(type='submit').btn.btn-primary Post
