extends layout

block nav
  .nav.navbar
    span
      a(href="add_reply/").btn.btn-primary Add reply

block content
  span.subject #{thread.subject}
  span.id ##{thread.id}
  p.listing #{thread.message}
  each reply in replies
    p.listing #{reply.message}