extends layout

block nav
  .nav.navbar
    span
      a(href="/add_thread/").btn.btn-primary Add thread

block content
  h1 All threads
  each thread in threads
    .listing
      .thread_head
        a(href="/thread/" + thread.id + "/") 
          span.list_subject #{thread.subject}
        span.id ##{thread.id}
        span.date #{thread.added_on}
      span #{thread.message}
