.container {
  margin: 10px auto
}

.list_subject {
  font-size: 130%;
}

.subject {
  font-size: 250%;
}

.id {
  font-size: 80%;
  margin-left: 0.5em;
}


.listing {
  margin: 3px 0px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.322);
}

.nav {
  width: 100%;
  position: sticky;
  top: 0px;
  background: whitesmoke;
  box-shadow: 0 0 5px grey;
}

.date {
  float: right;
}